body {
    text-align: center;
    color: white;
    font-family: "Space Grotesk", sans-serif;

     background-color: #05070d;
}

h1 {
    font-size: 100px;
}

#stars {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
}

.top-bar {
    background: #b5b5b5;
    border-radius: 999px;
    height: 70px;
    width: 90%;
    margin: 20px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.category-button {
    flex: 1;
    max-width: 220px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #808080;
    color: white;

   
    border: none;
    outline: none;
  

    font-size: 22px;
    font-weight: 500;
}

.category-button:active {
    background-color: rgb(109, 109, 109);
}

.science-button {
    color: #9bfaab;
    box-shadow: 0px 0px 10px 0px #9bfaab;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.technology-button {
    color: #a8d9f4;
    box-shadow: 0px 0px 10px 0px #a8d9f4;
}

.engineering-button {
    color: #f6ce8d;
    box-shadow: 0px 0px 10px 0px #f6ce8d;
}

.math-button {
    color: #e299f4;
    box-shadow: 0px 0px 10px 0px #e299f4;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.search-bar {
    flex: 1;
    height: 50px;
    min-width: 220px;
    max-width: 340px;

    box-sizing: border-box;
    padding: 0 20px;

    background-color: #808080;
    color: white;

    border: none;
    border-radius: 999px;

    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 500;

    box-shadow: 0px 0px 10px 0px #FFFFFF;

    text-align: center;

    outline: none;
}

.search-bar::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

