body {
    text-align: center;
    color: white;
    font-family: "Space Grotesk", sans-serif;

     background-color: #05070d;
}

h1 {
    font-size: 100px;
}

#stars {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
}

.top-bar {
    background-color: #d9d9d9;
    border-radius: 999px;
    height: 70px;
    width: 90%;
    margin: 20px auto;
    
}
