body {
    text-align: center;
    color: #9ca3af;
    font-family: "Space Grotesk", sans-serif;

     background-color: #05070a;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home-logo {
    display: flex;
    align-items: center;
}

.home-logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
}

h1 {
    font-size: 100px;
    color: #9ca3af;
    text-shadow: 0 0 3px #9ca3af;;
}

#stars {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
}

.top-bar {
    background: #15191f;
    border-radius: 999px;
    height: 70px;
    width: 90%;
    margin: 20px auto;
    border: 2px solid #3a424d;

    box-shadow: 0 0 10px #3a424d;
   

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}

.top-bar p{
    font-size: 30px;
    color: #3a424d;
}

.category-button {
    flex: 1;
    width: 18%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #15191f;
    color: #9ca3af;
    font-family: "Space Grotesk", sans-serif;

   
    border: none;
    outline: none;
  

    font-size: 22px;
    font-weight: 500;
}

.category-button:hover {
    background-color: #1e232c;
    color: #bac0cb;
}

.category-button:active{
    background-color: #2a313d;
}

.science-button {
    border-radius: 5px;
 
   
}

.technology-button {
     border-radius: 5px;
    
}

.engineering-button {

     border-radius: 5px;
   
}

.math-button {
   border-radius: 200px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.search-bar {
    flex: 1;
    height: 50px;
    width: 18%;

    box-sizing: border-box;
    padding: 0 20px;

    background-color: #1e232c;
    color: #9ca3af;

    border: none;

    border-radius: 200px;

    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;

    font-family: "Space Grotesk", sans-serif;
    font-size: 22px;
    font-weight: 500;


    outline: none;
}

.search-bar::placeholder {
    color: #9ca3af;
    opacity: .50;
}

.search-bar:focus::placeholder{
    color: transparent;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #15191f;
    border: 2px solid #3a424d;
    border-radius: 50%;
    box-shadow: 0 0 10px #3a424d;
    cursor: pointer;

    color: #9ca3af;
    font-family: "Space Grotesk", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.home-button img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.home-button:hover {
    background-color: #1e232c;
}

.home-button:active {
    background-color: #2a313d;
}
